<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="max-age=604800" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Website My CoffeeChoices!</title>

    <link href="~/Content/images/favicon.png" rel="shortcut icon" type="image/x-icon">

    <!-- jQuery -->
    <script src="~/Scripts/js/jquery-2.0.0.min.js" type="text/javascript"></script>

    <!-- Bootstrap4 files-->
    <script src="~/Scripts/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" />

    <!-- Font awesome 5 -->
    <link href="fonts/css/fontawesome/~/Content/all.min.css" type="text/css" rel="stylesheet">

    <!-- custom style -->
    <link href="~/Content/css/ui.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/responsive.css" rel="stylesheet" type="text/css" />

    <!-- custom javascript -->
    <script src="~/Scripts/js/script.js" type="text/javascript"></script>

 
    <link rel="stylesheet" href="~/Content/admin/plugins/fontawesome-free/css/all.min.css">
    
   
  

    <!-- jQuery -->
    <script src="~/Scripts/js/jquery-2.0.0.min.js" type="text/javascript"></script>

   
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" />

  

    <!-- custom style -->
    <link href="~/Content/css/ui.css" rel="stylesheet" type="text/css" />
  

  
</head>
<body>

    <header class="section-header">
        <section class="header-main border-bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-3 col-md-12">
                        <a href="@Url.Action("DangNhap","Home")" class="brand-wrap">
                            <img style="width:250px; height:100px" src="~/Content/images/logo.jpg">


                        </a> <!-- brand-wrap.// -->
                    </div>
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

                    <!-- search-wrap .end// -->
                    <!--</div>--> <!-- col.// -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="widgets-wrap float-md-right">
                            <div class="widget-header mr-3">
                                <a href="#" class="widget-view">
                                    <div class="icon-area">
                                        <i class="fa fa-user"></i>

                                    </div>
                                    <!--Session["MaND"] được sử dụng để kiểm tra xem người dùng đã đăng nhập hay chưa.
                                    Nếu Session["MaND"] khác null, có nghĩa là người dùng đã đăng nhập,
                                    Nếu Session["MaND"] bằng null, có nghĩa là người dùng chưa đăng nhập, -->
                                    @if (Session["MaND"] != null)
                                    {
                                        <a href="~/Home/Index">Hello World! &nbsp; &nbsp; &nbsp; &nbsp;</a>
                                        <a href="~/Home/Logout" click="logout()">Đăng xuất  &nbsp; &nbsp; &nbsp; &nbsp;</a>

                                    }
                                    else
                                    {
                                        <a href="~/Home/DangNhap">Đăng nhập</a>
                                    }

                                </a>
                            </div>


                            <div class="widget-header">
                                <a href="@Url.Action("Index","GioHang")" class="widget-view">
                                    <div class="icon-area">
                                        <i class="fa fa-shopping-cart"></i>
                                        <!--thể hiện số lượng mặt hàng đã thêm vào giỏ hàng-->
                                        <span class="notify" id="CartCount"> @Session["count"]</span>
                                    </div>
                                    <small class="text"> Giỏ hàng </small>
                                </a>
                            </div>
                        </div> <!-- widgets-wrap.// -->
                    </div> <!-- col.// -->
                </div> <!-- row.// -->
            </div> <!-- container.// -->
            <div style="text-align:center; font-size:150%; color:orange">
                TTL Coffee!
            </div>
        </section> <!-- header-main .// -->


    </header> <!-- section-header.// -->
    @RenderBody() <!--được sử dụng để hiển thị nội dung của các trang con được kế thừa từ trang chính.Có thể định nghĩa trang con trong routeconfig -->


    <footer class="section-footer bg-secondary">
        <div class="container">
            <section class="footer-top padding-y-lg text-white">
                <div class="row">


                    <aside class="col-md col-6">
                        <h6 class="title">Liên hệ</h6>
                        <ul class="list-unstyled">
                            <li> <a href="#">Email:</a> mycoffeechoices@gmail.com</li>
                            <li> <a href="#">Phone</a>: +9999999999</li>

                        </ul>
                    </aside>
                    <aside class="col-md col-6">
                        <h6 class="title">Tài khoản</h6>
                        <ul class="list-unstyled">
                            <!--Điều hướng trang-->
                            <li> <a href="@Url.Action("DangNhap","Home")"> Đăng nhập </a></li>
                            <li> <a href="@Url.Action("DangKy","Home")"> Đăng ký </a></li>

                        </ul>
                    </aside>
                    <aside class="col-md">
                        <h6 class="title">Mạng xã hội</h6>
                        <ul class="list-unstyled">
                            <li><a href="#"> <i class="fab fa-facebook"></i> Facebook </a></li>
                            <li><a href="#"> <i class="fab fa-twitter"></i> Twitter </a></li>
                            <li><a href="#"> <i class="fab fa-instagram"></i> Instagram </a></li>
                            <li><a href="#"> <i class="fab fa-youtube"></i> Youtube </a></li>
                        </ul>
                    </aside>
                </div> <!-- row.// -->
            </section>	<!-- footer-top.// -->


        </div><!-- //container -->
    </footer>
    <!-- ========================= FOOTER END // ========================= -->




</body>
</html>