@model websitecoffeechoice.Models.SanPham

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div>
    <h4 style="text-align:center">Thông tin sản phẩm!</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên món ăn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSP)
        </dd>



        <dt>
            Giá bán
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia) VNĐ
        </dd>

        <dt>
            Nhận xét
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GhiChu)
        </dd>

        <dt>
            Ảnh
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anh)
        </dd>

        <dt>
            Loại sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiSP.TenLoaiSP)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa món ăn!" class="btn btn-default" />  <br />
            @Html.ActionLink("<< Trở lại trang chủ", "Index")
        </div>
    }
</div>